/* Header frame at top of page */
header {
  background-color: #403934;
  color: #B5B0A9;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  box-sizing: border-box;
  position: absolute;
}

/* Name at the top of the page */
h1 {
  font-family: 'Pangolin', cursive;
  font-size: 50px;
}

/* Title under name */
h2 {
  font-family: 'Codystar', cursive;
  font-size: 30px;
}

/* Main part of page where majority of text is */
body {
  background-color: #EDEBE6;
  text-align: center;
  height: 100%;
  padding: 0;
}

/* styling for body and listed items */
.intro p, .about p, .contact p, ul, ol {
  font-family: 'Neucha', cursive;
  text-align: left;
  position: relative;
  left: 25%;
  width: 50%;
}

/* titles throughout the body */
main div section h3 {
  font-family: 'Handlee', cursive;
  text-align: center;
  position: relative;
}

/* picture insert */
img {
  border-radius: 15%;
  margin-top: 200px; 
  width: 600px;
  align-items: center;
  box-shadow: 0px 0px 10px 0px;
}

/* Bottom bar at page */
footer {
  background-color: #403934;
  font-family: 'Handlee', cursive;
  width: 100%;
  color: rgb(233, 226, 215);
  text-align: center;
  left: 0;
  right: 0;
  position: absolute;
}

/* horizontol bars through page */
hr {
  width: 50%;
}

a:link {
  color: rgb(85, 61, 41);
}

a:hover {
  color: rgb(175, 124, 57);
}

a:visited {
  color: #6E2C00;
}

a:active {
  color: #9e7831;
}
